body {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  width: 640px;
  align: center;
}

.header {
  height: 100px;
  background-color: #1E6AE4;
  border-style: solid;
  text-align: center;
  text-color: white;
}

.container{
  align: center;
  background-color: white;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
}

a {
 text-decoration: none;
}

.nav{
  background-color:#0032FF;
  width:180px;
  float: left;
  height: 700px;
  border-left: solid;
  border-right: solid;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.content{
  background-color: white;
  padding: 10px;
  float: right;
}

.footer{
  background-color: #E1E1E1;
  text-align: right;
  clear: both;
  border: solid;
}
